$sea-0: #B1D0E0;
$sea-1: #6998AB;
$sea-2: #406882;
$sea-3: #1A374D;
$black-0: #000000;
$black-1: #333333;
$black-2: #666666;
$black-3: #999999;
$white-0: #FFFFFF;
$white-1: #F2F2F2;
$white-2: #E6E6E6;
$white-3: #CCCCCC;
$golden: #DCCA87;
$black: #0C0C0C;
$gray: #545454;
$crimson: #F5EFDB;
$grey: #AAAAAA;
$white: #FFFFFF;

:export {
    seaColor-0: $sea-0;
    seaColor-1: $sea-1;
    seaColor-2: $sea-2;
    seaColor-3: $sea-3;
    blackColor-0: $black-0;
    blackColor-1: $black-1;
    blackColor-2: $black-2;
    blackColor-3: $black-3;
    whiteColor-0: $white-0;
    whiteColor-1: $white-1;
    whiteColor-2: $white-2;
    whiteColor-3: $white-3;
    goldenColor: $golden;
    blackColor: $black;
    grayColor: $gray;
    crimsonColor: $crimson;
    greyColor: $grey;
    whiteColor: $white;
}